beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2025.8.3
chardet==3.0.4
charset-normalizer==3.4.3
EditorConfig==0.12.2
esprima==4.0.1
filelock==3.19.1
idna==2.10
iniconfig==2.1.0
jsbeautifier==1.13.0
neo4j==4.2.0
neo4j-driver==4.1.1
neobolt==1.7.17
neomodel==4.0.1
neotime==1.7.4
numpy==2.3.2
packaging==25.0
pandas==2.3.1
pluggy==1.6.0
Pygments==2.19.2
pyotp==2.3.0
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==0.14.0
pytz==2025.2
PyVirtualDisplay==3.0
PyYAML==6.0.2
requests==2.32.5
requests-file==2.1.0
selenium==3.141.0
setuptools==80.9.0
Shapely==1.7.1
six==1.17.0
soupsieve==2.7
tld==0.13.1
tldextract==5.3.0
tzdata==2025.2
urllib3==2.5.0
